.grid-container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
.row:before,
.row:after {
	content : " ";
	display : table;
	clear: both;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 8.88%;
	padding: 12px;
}

.col-3 {
	width: 24.99%;
}
.col-4 {
	width: 33.33%;
}
.col-6 {
	width: 50%;
	@media (max-width: 700px) {
	width: 100%;
	}
}
.col-12 {
	width: 100%;
}